
.editor, .mirror-editor {
  background-color: #282c34;
  height: auto;
}

.try-it {
  height: 800px;
  overflow-y: scroll;
}

.request-builder {
  background-color: #282c34;
  margin-top: 10px;
  height: 100px;
}
